    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">about</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#workshop">workshop</a>
                    </li>
<!--                    TODO: event page, find a place to link each event page, maybe portfolio-->
<!--
                    <li>
                        <a class="page-scroll" href="#workshop">symposium</a>
                    </li>
-->
                    <li>
                        <a class="page-scroll" href="#portfolio">portfolio</a>
                    </li>
<!--
                    <li>
                        <a class="page-scroll" href="#portfolio">member</a>
                    </li>
-->
<!--                    TODO: member page-->
                    <li>
                        <a class="page-scroll" href="#contact">join us</a>
                    </li>
<!--
                    <li>
                        <a class="page-scroll" href="#calendar">CALENDAR</a>
                    </li>
-->
<!--                    TODO: calendar page-->
<!--                    TODO: link to survey page? -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>UF Data Science & informatics</h1>
                <hr>
                <p>DSI: Data Science and Informatics Student Organization at UF connects students across academic programs by initiating group learning through technical workshops, speaker sessions, discussion groups and other activities.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
